In [2]:
# üêç ‚öúÔ∏è üçÅ imports
import numpy as np
import pandas as pd
import random as rd

### üêç valores nulos entre n√∫meros

#### ‚öúÔ∏è NaN

quando eu adiciono um valor nan a uma serie de int's , o pandas faz o cast de int para float em todos o itens

In [3]:
foo = pd.Series(data = [i for i in range(10)])
foo.iloc[0] = np.nan

foo

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

#### ‚öúÔ∏è < NA >

exceto se a serie possuir dados do tipo "Int64" i mai√∫sculo

com esse dtype podemos ter inteiros e valores nulos juntos

In [6]:
foo = pd.Series(data = [i for i in range(10)], dtype = "Int64")

foo.iloc[0] = pd.NA

foo

0    <NA>
1       1
2       2
3       3
4       4
5       5
6       6
7       7
8       8
9       9
dtype: Int64

#### ‚öúÔ∏è observa√ß√£o

√© importante mencionar que o datatype ***None*** do python √© convertido para o valor nulo, seja ele do tipo NA ou NaN

### üêç valores nulos entre strings

para usar um valor nulo em um serie de strings √© preciso que a serie n√£o seja do dtype 'objects', eu preciso corrigir para o 


***dtype = 'strings'***

In [7]:
series = pd.Series(data = [i for i in 'abcdefghijkl'], dtype = 'string')
series.loc[:5] = pd.NA

series

0     <NA>
1     <NA>
2     <NA>
3     <NA>
4     <NA>
5     <NA>
6        g
7        h
8        i
9        j
10       k
11       l
dtype: string

nesse caso, o valor python None √© passado para NA tbm

In [8]:
series[:5] = None

series

0     <NA>
1     <NA>
2     <NA>
3     <NA>
4     <NA>
5     <NA>
6        g
7        h
8        i
9        j
10       k
11       l
dtype: string

### üêç valores nulos em booleans series

assim como nas string series √© preciso decara o dtype na fun√ß√£o para ter uma melhor estrutura para interaigr com valores nulos e meio a verdadeiros e falsos...

sendo que esses < NA > ser√£o ignorados em condi√ß√µes

por exemplo:

In [10]:
bool_series = pd.Series(data = [True, True, False, pd.NA], dtype = 'boolean')

bool_series

0     True
1     True
2    False
3     <NA>
dtype: boolean

In [11]:
foo = pd.Series(data = [f'{i}¬∞' for i in range(1, 5)], dtype = 'string')
foo

0    1¬∞
1    2¬∞
2    3¬∞
3    4¬∞
dtype: string

In [12]:
# mask
# index labels quando values de bool_series == True
foo[bool_series]

0    1¬∞
1    2¬∞
dtype: string

In [13]:
# inverso
# index labels quando values de bool_series == False
foo[~bool_series]

2    3¬∞
dtype: string

veja como os valores ***NA*** s√£o ignorados

### üêç metodos em rela√ß√£o a valores NA

In [14]:
series = pd.Series(data = [i for i in range(5)], dtype = 'Int64')
series[0] = pd.NA

#### ‚öúÔ∏è index de valores == NA

In [15]:
series.isna()

0     True
1    False
2    False
3    False
4    False
dtype: bool

#### ‚öúÔ∏è index de valores != de NA

In [16]:
series.notna()

0    False
1     True
2     True
3     True
4     True
dtype: bool

#### ‚öúÔ∏è  substiuir NA

Series.fillna(x)

substitui todos os NA pelo valor de x

In [53]:
series.fillna(value = -999, )

0    -999
1       1
2       2
3       3
4       4
dtype: Int64

possui par√¢metro inplace

o que significa que se eu atribuir True ele ir√° executar as mudan√ßas no objeto apartir do proprio metodo fillna() sem eu precisar subscrever na sintaxe ou atribuir isso a uma mask

In [54]:
# veja como o metodo anterior n√£o mudou a series
series

0    <NA>
1       1
2       2
3       3
4       4
dtype: Int64

In [55]:
series.fillna(value = -999, inplace = True)
series

0    -999
1       1
2       2
3       3
4       4
dtype: Int64