# ‚ùáÔ∏è Vis√£o geral

‚ùáÔ∏è‚ú¥Ô∏è‚öõÔ∏èüÜé

## ‚ú¥Ô∏è O que √© um banco de dados ?

Um bando de dados √© um grande amuntuado de dados, por√©m devidamente estruturados, para que sejam gerenci√°veis e facilmente acessados.

um banco de dados √© diferente de um arquivo .csv ou de um arquivo de excel, ele √© pensado para comportar um volume muito maior de dados.

## ‚ú¥Ô∏è O que √© SQL e MySQL?

Bom, o conceito de banco de dados √© um tanto te√≥rico, para que algo seja realizado com estes tais dados, precisamos de um software que crie e armazene os bancos de dados na mem√≥ria da m√°quina (pode ser o meu computador por exemplo,assim como o servidor de uma empresa), e este software √© o nosso querido MySQL.

Resumindo: MySQL √© o software que estrutura e armazena os bancos de dados.

O SQL (Structured Query Language) √© o que d√° liga nesta nossa qu√≠mica, pois √© escrevendo queries (scripts para busca) que n√≥s fazemos o uso de toda essa estrutura, desde a cria√ß√£o de um DB, at√© a exporta√ß√£o dos dados tratados e prontos para serem analisados. 

Resumindo: O SQL √© o controle remoto de um banco de dados, √© com ele que fazemos tudo em um DB.

## ‚ú¥Ô∏è Como um banco de dados se parece ?

Neste ponto √© importante saber que existem termos usados durante o processo de ETL, eles podem ser um pouco diferente dos termos usados por cientistas de dados, por exemplo... o termo 'vari√°vel' √© muito pouco usado, ao inv√©s disso chamamos de 'campos'.

Ent√£o aqui vai um mini dicion√°rio de termos usados no cotidiano de um 'banqueiro de dados'


- Banco de dados: √© um conjunto de tabelas

- Tabelas: √© o que realmente usamos - semelhante ao pandas.DataFrame ou qualquer tabela de excel

- Campos: s√£o as colunas das tabelas - as vari√°veis

- Registros: s√£o as linhas da tabela

- Query: √© o script em sql que realiza principalmente as buscas nos bancos de dados (buscar e/ou editar as tabelas)

> Print de um DB chamado Olist, ele possui 8 tabelas

<img src="imgs/DB_ref.png" width="200">

> Print de uma tabela cahmada customers - clientes - com 5 campos

<img src="imgs/table_ref.png" width="800">

# ‚ùáÔ∏è B√°sico de SQL

Antes de tudo √© importante mencionar que a sintaxe do SQL √© praticamente uma instru√ß√£o em ingl√™s, e que a dormata√ß√£o do c√≥digo n√£o √© importante para a sua execu√ß√£o, mas para a leitura.

## ‚ú¥Ô∏èSELECT

O select √© o comando mais importante da inguagem SQL, ele √© o comando que diz *"Vai l√° no nosso banco de dados e pegaa isso, isso e aquilo pra gente fazer uma an√°lise legal"*
 
Para que o select funcione voce precisa passar algumas cl√°usulas, como de qual tabela retirar os dados e quais campos da tabela vc vai querer... pois bem, agora basta escrever isto em ingles:

``` SQL

SELECT
    campo_x,
    campo_y,
    campo_z
FROM nossa_tabela;

```

Esta query simples retornar√° da "nossa_tabela" os campos ali especificados, se eu quizer todos os campos desta mesma tabela bastaria substituir os nomes dos campos pelo operador **" * "**, dessa forma:


``` SQL

SELECT
    *
FROM nossa_tabela;

```

Eu tambem posso renomear os campos, adicionando um *alias* com o comando **AS**

``` SQL

SELECT
    unique_cliente_id AS ID,
    nome_cliente AS nome,
    cliente_contato_principal AS contato
FROM nossa_tabela;

```

## ‚ú¥Ô∏è WHERE

WHERE √© uma cl√°usula utilizada em consultas SQL para filtrar os resultados baseados em uma condi√ß√£o espec√≠fica. Ele √© usado em conjunto com o comando SELECT para retornar somente as linhas que atendem a determinados crit√©rios de busca.

A sintaxe √© a seguinte:

```sql

SELECT campo1, campo2, ...
FROM table_name
WHERE condition;

```

Onde "table_name" √© o nome da tabela que voc√™ deseja consultar, "campo1, campo2, ..." s√£o os campos que voc√™ deseja selecionar e "condition" √© a condi√ß√£o pela qual voc√™ deseja filtrar os resultados. A condi√ß√£o pode ser qualquer express√£o l√≥gica que retorne true ou false.

Algumas opera√ß√µes comuns que podem ser usadas em condi√ß√µes WHERE incluem operadores de compara√ß√£o (como "=", ">", "<", ">=", "<=", "!="), operadores l√≥gicos (como "AND", "OR", "NOT") e fun√ß√µes de agrega√ß√£o (como "SUM", "AVG", "MAX", "MIN").

O comando WHERE pode ser usado em conjunto com outras cl√°usulas SQL, como ORDER BY, GROUP BY e JOIN, para refinar ainda mais os resultados da consulta.

Por hora, apenas entenda que WHERE significa "onde x coindi√ß√£o for verdadeira".

## ‚ú¥Ô∏è Operadores

Importante para criar condi√ß√µes os operadores s√£o pura l√≥gica de programa√ß√£o. A seguir vou apresentar os principais operadores e ap√≥s isso dar exemplos do seu uso, parece muita coisa mas n√£o √©! s√£o apenas palavrinhas para dar liga no nosso c√≥digo.

### ‚öõÔ∏è simples
##### Operadores de compara√ß√£o:

- Igual: **=**
- Diferente: **<>, !=**
- Maior que: **>**
- Menor que: **<**
- Maior ou igual que: **>=**
- Menor ou igual que: **<=**

> O uso dos operadores de compara√ß√£o exige dois elementos a serem comparados, a sintaxe √© super intuitiva, ser√° algo como:
```sql

SELECT *
FROM tb_pessoas
WHERE idade >= 18

```

##### Operadores l√≥gicos:

- **AND**: retorna verdadeiro se todas as condi√ß√µes forem verdadeiras
- **OR**: retorna verdadeiro se pelo menos uma das condi√ß√µes for verdadeira
- **NOT**: inverte o resultado da condi√ß√£o
- **IN ()**: afirma que o que o precede est√° contido dentro da tupla que vem logo ap√≥s




### ‚öõÔ∏è Avan√ßadinhos

- **LIKE**: o operador LIKE √© usado para comparar valores de string em uma cl√°usula WHERE. Ele permite que voc√™ encontre padr√µes em uma coluna de texto. O operador LIKE √© geralmente usado com o caractere curinga "%" .

- **BETWEEN**: o operador BETWEEN √© usado para selecionar valores dentro de um intervalo. Ele permite que voc√™ especifique um intervalo de valores em uma √∫nica cl√°usula.


- **IS NULL**: o operador IS NULL √© usado para selecionar linhas em que uma determinada coluna √© nula.

### ‚öõÔ∏è Exemplos

#### üÜé AND

Selecionar os pedidos entregues **E** pagos com boleto:
```sql

SELECT *
FROM pedidos
WHERE status 'entregue' AND gateway = 'boleto' 

```

#### üÜé OR

Selecionar os pedidos pagos com cart√£o de d√©bito **OU** car√£to de cr√©dito:
```sql

SELECT *
FROM pedidos
WHERE gateway = 'debit_card' OR gateway = 'credit_card' 

```

#### üÜé IN ()

Selecionar os registro com o valor do campo gateway contido em ('debit_card', 'credit_card'):
```sql

SELECT *
FROM pedidos
WHERE gateway  IN ('debit_card', 'credit_card') 

```

> por seu uso ser mais espec√≠fico a explic√£o fica um pouco t√©cnica

#### üÜé NOT

Selecionar os registro com o valor do campo gateway n√£o est√° contido em ('debit_card', 'credit_card'):
```sql

SELECT *
FROM pedidos
WHERE gateway NOT IN ('debit_card', 'credit_card') 

```

> Pode ser conveniente para escrever menos, suponha que temos 15 m√©todos de pagamentos e queremos todos exceto x e y

#### üÜé BETWEEN

Selecionar os cliientes que possuem a idade entre 18 e 30 (incluindo 18 ou 30):
```sql

SELECT *
FROM clientes
WHERE idade BETWEEN 18 AND 30 

```

#### üÜé LIKE

Selecionar os clientes com silva **em qualquer parte** do seu nome
```sql

SELECT *
FROM clientes
WHERE nome LIKE '%silva%'

```

Selecionar os clientes com silva **no final** do seu nome
```sql

SELECT *
FROM clientes
WHERE nome LIKE '%silva'

```

Selecionar os clientes com pedro **no come√ßo** do seu nome
```sql

SELECT *
FROM clientes
WHERE nome LIKE 'pedro%'

```

Selecionar os clientes com pedro - seguido de espa√ßo no come√ßo do seu nome
```sql

SELECT *
FROM clientes
WHERE nome LIKE 'pedro %'

```

> pode haver um cliente com o nome pedroso, e n√≥s querermos apenas os pedros.

Estes exemplos foram fracos, mas podemos entender que o comando LIKE faz a investiga√ß√£o de *strings*


Um detalhe importante √© que o sql n√£o possui case sensitive, ou seja, se eu pesquisa LIKE '%a%' ele vai retornar todas as strings com algo parecido com 'a', como: [√°, √£, A, √¢ ...]

#### üÜé IS NULL

Selecionar os registro cujo o campo contato est√° vazio (NULL):

```sql

SELECT *
FROM clientes
WHERE contato IS NULL

```

## ‚ú¥Ô∏è Fun√ß√µes de agrega√ß√£o

## ‚ú¥Ô∏è Subquery

## ‚ú¥Ô∏è WITH

## ‚ú¥Ô∏è GROUP BY + ORDER BY

## ‚ú¥Ô∏è JOIN

## ‚ú¥Ô∏è CASE WHEN + COALESCE()

## ‚ú¥Ô∏è Window functions